n8n-workflows/gf-client-register.json
{
  "name": "GF - Client Register",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "@n8n/n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 250, 300 ],
      "parameters": {
        "path": "gf-client-register",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "2",
      "name": "Check Exists",
      "type": "@n8n/n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [ 450, 300 ],
      "parameters": {
        "operation": "read",
        "sheetName": "GF_Usuarios",
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "usuario",
              "lookupValue": "={{$json.body.usuario}}"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Logic",
      "type": "@n8n/n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [ 650, 300 ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nif (items.length > 0 && items[0].json.usuario) {\n    return { json: { error: 'El usuario ya existe' } };\n}\nconst body = $('Webhook').first().json.body;\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0; return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\nconst clienteId = uuid();\nconst hmacSecret = crypto.randomBytes(16).toString('hex');\nconst passwordHash = crypto.createHash('sha256').update(body.password).digest('hex');\nreturn { json: { clienteId, nombre: body.nombre, usuario: body.usuario, passwordHash, telefono: body.telefono, hmacSecret, fechaRegistro: new Date().toISOString(), estado: 'activo' } };"
      }
    },
    {
      "id": "4",
      "name": "If",
      "type": "@n8n/n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 850, 300 ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "5",
      "name": "Append",
      "type": "@n8n/n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [ 1050, 200 ],
      "parameters": {
        "operation": "append",
        "sheetName": "GF_Usuarios",
        "options": {}
      }
    },
    {
      "id": "6",
      "name": "Respond Success",
      "type": "@n8n/n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1250, 200 ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true,\"clienteId\":\"{{$json.clienteId}}\",\"nombre\":\"{{$json.nombre}}\"}",
        "options": {
          "responseHeaders": {
            "headers": {
              "header": [
                { "name": "Access-Control-Allow-Origin", "value": "*" },
                { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
                { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
              ]
            }
          }
        }
      }
    },
    {
      "id": "7",
      "name": "Respond Error",
      "type": "@n8n/n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1050, 400 ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"error\":\"{{$json.error}}\"}",
        "options": {
          "responseHeaders": {
            "headers": {
              "header": [
                { "name": "Access-Control-Allow-Origin", "value": "*" },
                { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
                { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
              ]
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Check Exists", "type": "main", "index": 0 } ] ] },
    "Check Exists": { "main": [ [ { "node": "Logic", "type": "main", "index": 0 } ] ] },
    "Logic": { "main": [ [ { "node": "If", "type": "main", "index": 0 } ] ] },
    "If": {
      "main": [
        [ { "node": "Append", "type": "main", "index": 0 } ],
        [ { "node": "Respond Error", "type": "main", "index": 0 } ]
      ]
    },
    "Append": { "main": [ [ { "node": "Respond Success", "type": "main", "index": 0 } ] ] }
  }
}
