n8n-workflows/gf-client-login.json
{
  "name": "GF - Client Login",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "@n8n/n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 250, 300 ],
      "parameters": {
        "path": "gf-client-login",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "2",
      "name": "Lookup",
      "type": "@n8n/n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [ 450, 300 ],
      "parameters": {
        "operation": "read",
        "sheetName": "GF_Usuarios",
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "usuario",
              "lookupValue": "={{$json.body.usuario}}"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Validate",
      "type": "@n8n/n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [ 650, 300 ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst req = $('Webhook').first().json.body;\nif (items.length === 0 || !items[0].json.usuario) return { json: { error: 'Credenciales inválidas' } };\nconst user = items[0].json;\nconst hash = crypto.createHash('sha256').update(req.password).digest('hex');\nif (hash !== user.passwordHash || user.estado !== 'activo') return { json: { error: 'Credenciales inválidas' } };\nreturn { json: { success: true, clienteId: user.clienteId, nombre: user.nombre, hmacSecret: user.hmacSecret } };"
      }
    },
    {
      "id": "4",
      "name": "If",
      "type": "@n8n/n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 850, 300 ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "5",
      "name": "Respond Success",
      "type": "@n8n/n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1050, 200 ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseHeaders": {
            "headers": {
              "header": [
                { "name": "Access-Control-Allow-Origin", "value": "*" },
                { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
                { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
              ]
            }
          }
        }
      }
    },
    {
      "id": "6",
      "name": "Respond Error",
      "type": "@n8n/n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1050, 400 ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseHeaders": {
            "headers": {
              "header": [
                { "name": "Access-Control-Allow-Origin", "value": "*" },
                { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
                { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
              ]
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Lookup", "type": "main", "index": 0 } ] ] },
    "Lookup": { "main": [ [ { "node": "Validate", "type": "main", "index": 0 } ] ] },
    "Validate": { "main": [ [ { "node": "If", "type": "main", "index": 0 } ] ] },
    "If": {
      "main": [
        [ { "node": "Respond Success", "type": "main", "index": 0 } ],
        [ { "node": "Respond Error", "type": "main", "index": 0 } ]
      ]
    }
  }
}
