n8n-workflows/gf-client-redeem.json
{
  "name": "GF - Client Redeem",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook",
      "type": "@n8n/n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 250, 300 ],
      "parameters": {
        "path": "gf-client-redeem",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "2",
      "name": "Read Puntos",
      "type": "@n8n/n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [ 450, 300 ],
      "parameters": {
        "operation": "read",
        "sheetName": "GF_Puntos"
      }
    },
    {
      "id": "3",
      "name": "Logic",
      "type": "@n8n/n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [ 650, 300 ],
      "parameters": {
        "jsCode": "const req = $('Webhook').first().json.body;\nlet total = 0;\nitems.forEach(i => {\n    if (i.json.clienteId === req.clienteId && i.json.sucursal === req.sucursal) {\n        total += parseInt(i.json.puntos || 0);\n    }\n});\nif (total < 10) return { json: { error: 'Puntos insuficientes' } };\nfunction uuid() { return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => { const r = Math.random() * 16 | 0; return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16); }); }\nreturn { json: { \n    error: '', \n    puntosRow: { id: uuid(), clienteId: req.clienteId, sucursal: req.sucursal, puntos: -10, tipo: 'canje', empleado: 'Sistema', fecha: new Date().toISOString() },\n    premiosRow: { id: uuid(), clienteId: req.clienteId, sucursal: req.sucursal, premio: 'Helado Pequeño Gratis', estado: 'pendiente', fechaSolicitud: new Date().toISOString() }\n} };"
      }
    },
    {
      "id": "4",
      "name": "If",
      "type": "@n8n/n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ 850, 300 ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "5",
      "name": "Append Puntos",
      "type": "@n8n/n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [ 1050, 200 ],
      "parameters": {
        "operation": "append",
        "sheetName": "GF_Puntos",
        "dataMode": "defineBelow",
        "valuesUI": {
          "values": [
            { "column": "id", "value": "={{$json.puntosRow.id}}" },
            { "column": "clienteId", "value": "={{$json.puntosRow.clienteId}}" },
            { "column": "sucursal", "value": "={{$json.puntosRow.sucursal}}" },
            { "column": "puntos", "value": "={{$json.puntosRow.puntos}}" },
            { "column": "tipo", "value": "={{$json.puntosRow.tipo}}" },
            { "column": "empleado", "value": "={{$json.puntosRow.empleado}}" },
            { "column": "fecha", "value": "={{$json.puntosRow.fecha}}" }
          ]
        }
      }
    },
    {
      "id": "6",
      "name": "Append Premios",
      "type": "@n8n/n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [ 1250, 200 ],
      "parameters": {
        "operation": "append",
        "sheetName": "GF_Premios",
        "dataMode": "defineBelow",
        "valuesUI": {
          "values": [
            { "column": "id", "value": "={{$json.premiosRow.id}}" },
            { "column": "clienteId", "value": "={{$json.premiosRow.clienteId}}" },
            { "column": "sucursal", "value": "={{$json.premiosRow.sucursal}}" },
            { "column": "premio", "value": "={{$json.premiosRow.premio}}" },
            { "column": "estado", "value": "={{$json.premiosRow.estado}}" },
            { "column": "fechaSolicitud", "value": "={{$json.premiosRow.fechaSolicitud}}" }
          ]
        }
      }
    },
    {
      "id": "7",
      "name": "Respond Success",
      "type": "@n8n/n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1450, 200 ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "headers": {
              "header": [
                { "name": "Access-Control-Allow-Origin", "value": "*" },
                { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
                { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
              ]
            }
          }
        }
      }
    },
    {
      "id": "8",
      "name": "Respond Error",
      "type": "@n8n/n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1050, 400 ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"error\":\"{{$json.error}}\"}",
        "options": {
          "responseHeaders": {
            "headers": {
              "header": [
                { "name": "Access-Control-Allow-Origin", "value": "*" },
                { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
                { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
              ]
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Read Puntos", "type": "main", "index": 0 } ] ] },
    "Read Puntos": { "main": [ [ { "node": "Logic", "type": "main", "index": 0 } ] ] },
    "Logic": { "main": [ [ { "node": "If", "type": "main", "index": 0 } ] ] },
    "If": {
      "main": [
        [ { "node": "Append Puntos", "type": "main", "index": 0 } ],
        [ { "node": "Respond Error", "type": "main", "index": 0 } ]
      ]
    },
    "Append Puntos": { "main": [ [ { "node": "Append Premios", "type": "main", "index": 0 } ] ] },
    "Append Premios": { "main": [ [ { "node": "Respond Success", "type": "main", "index": 0 } ] ] }
  }
}
