n8n-workflows/gf-employee-rewards.json
{
  "name": "GF - Employee Rewards",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook GET",
      "type": "@n8n/n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 250, 200 ],
      "parameters": {
        "path": "gf-employee-rewards",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "2",
      "name": "Read Premios",
      "type": "@n8n/n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [ 450, 200 ],
      "parameters": {
        "operation": "read",
        "sheetName": "GF_Premios"
      }
    },
    {
      "id": "3",
      "name": "Read Usuarios",
      "type": "@n8n/n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [ 650, 200 ],
      "parameters": {
        "operation": "read",
        "sheetName": "GF_Usuarios"
      }
    },
    {
      "id": "4",
      "name": "Filter & Enrich",
      "type": "@n8n/n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [ 850, 200 ],
      "parameters": {
        "jsCode": "const sucursal = $('Webhook GET').first().json.query.sucursal;\nconst premios = $('Read Premios').all().map(i => i.json).filter(p => p.sucursal === sucursal && p.estado === 'pendiente');\nconst users = $('Read Usuarios').all().map(i => i.json);\npremios.forEach(p => {\n    const u = users.find(u => u.clienteId === p.clienteId);\n    if (u) p.clienteNombre = u.nombre;\n});\nreturn { json: { premios } };"
      }
    },
    {
      "id": "5",
      "name": "Respond GET",
      "type": "@n8n/n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1050, 200 ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseHeaders": {
            "headers": {
              "header": [
                { "name": "Access-Control-Allow-Origin", "value": "*" },
                { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
                { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
              ]
            }
          }
        }
      }
    },
    {
      "id": "6",
      "name": "Webhook POST",
      "type": "@n8n/n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 250, 500 ],
      "parameters": {
        "path": "gf-employee-deliver",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "7",
      "name": "Update Premio",
      "type": "@n8n/n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [ 450, 500 ],
      "parameters": {
        "operation": "update",
        "sheetName": "GF_Premios",
        "dataMode": "defineBelow",
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{$json.body.premioId}}"
            }
          ]
        },
        "valuesUI": {
          "values": [
            { "column": "estado", "value": "entregado" },
            { "column": "empleadoEntrega", "value": "={{$json.body.empleado}}" },
            { "column": "fechaEntrega", "value": "={{new Date().toISOString()}}" }
          ]
        }
      }
    },
    {
      "id": "8",
      "name": "Respond POST",
      "type": "@n8n/n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 650, 500 ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true}",
        "options": {
          "responseHeaders": {
            "headers": {
              "header": [
                { "name": "Access-Control-Allow-Origin", "value": "*" },
                { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
                { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
              ]
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook GET": { "main": [ [ { "node": "Read Premios", "type": "main", "index": 0 } ] ] },
    "Read Premios": { "main": [ [ { "node": "Read Usuarios", "type": "main", "index": 0 } ] ] },
    "Read Usuarios": { "main": [ [ { "node": "Filter & Enrich", "type": "main", "index": 0 } ] ] },
    "Filter & Enrich": { "main": [ [ { "node": "Respond GET", "type": "main", "index": 0 } ] ] },
    "Webhook POST": { "main": [ [ { "node": "Update Premio", "type": "main", "index": 0 } ] ] },
    "Update Premio": { "main": [ [ { "node": "Respond POST", "type": "main", "index": 0 } ] ] }
  }
}
